@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Add custom styles to ensure proper spacing between the cards */
.carousel .react-multiple-carousel__item {
  margin: 10px;  /* Adjust the gap between cards */
}

@media (max-width: 600px) {
  .carousel .react-multiple-carousel__item {
    margin: 5px;  /* Reduce gap for smaller screens */
  }
}
